<h1>Movie Search</h1>
<p><strong>
Add these to the end of the URL
</strong></p>
<p><strong>
Example: http://frozen-cliffs-4885.herokuapp.com/search/?t=Interstellar
</strong></p>
<p>
/search/?t=Interstellar should return a json object with all the movies with 'Interstellar' in their title
</p>
<p>
/search/?y=2014 should return a json object with all the movies made in 2014
</p>
<p>
/search/?t=Interstellar&y=2014 should return a json object with all the movies with 'Interstellar' in their title that were made in 2014
</p>
<p>
<strong>Parameters</strong>
</p>
<p>
  t	search for a movie by title (Titles are case sensitive and must be typed in exactly)
</p>
<p>
  y	search for a movie by year
</p>
<p>
  i	search for a movie by ID
</p>
